wheel
flask
flask-socketio
RPi.GPIO
numpy==1.19.5
Pillow
picamera
ilock
PyYAML
pathfinding
# python3 -m pip install src/detection/tensorflow-2.0.0-cp37-none-linux_armv7l.whl
opencv-python
h5py==2.9.0
Bluetin_Echo